@charset "UTF-8";
/* Stylesheet for the jMini web pages
 * File name: global.css
 */

/* general settings */
html, body {
	margin: 0; padding: 0;
	font-family: -apple-system, Segoe UI, Roboto, SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 16px;
	scrollbar-color: #aaaaaa #fbfaf9;
}
body {
	overflow: hidden auto;
}

/* headline font */
h1, h2, h3, h4, h5, h6 {
	font-family: Bahnschrift, DIN Alternate, Arial Bold, sans-serif;
	color: #333;
}
*:focus {
	outline: #F30 solid 2pt;
	border-radius: 2pt;
}

a:link, a:visited {
	color: #000;
}
a:focus {
	text-decoration: none;
}

/* External links: */
a.ext {
	text-decoration: underline dotted;
}
a.ext::before {
	content: ' ';
	display: inline-block;
	background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M3 1C1.89 1 1 1.89 1 3V14C1 15.11 1.89 16 3 16H14C15.11 16 16 15.11 16 14V11H14V14H3V3H14V5H16V3C16 1.89 15.11 1 14 1M9 7C7.89 7 7 7.89 7 9V12H9V9H20V20H9V18H7V20C7 21.11 7.89 22 9 22H20C21.11 22 22 21.11 22 20V9C22 7.89 21.11 7 20 7H9' style='fill:%23666'/%3E%3C/svg%3E") .1em bottom no-repeat;
	background-size: .9em;
	width: 1.1em; height: 1em;
	overflow: hidden;
}
a.ext.mdn::before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.3499999 6.3500002'%3E%3Cg%3E%3Ccircle style='fill:%23000000;stroke-width:25.0082' cx='3.175' cy='3.175' r='3.175' /%3E%3Cpath d='M 2.5104774,1.2399668 1.314171,5.1387209 H 0.8247729 L 2.0168964,1.2399668 Z m 0.4350207,0 V 5.1387209 H 2.5104774 V 1.2399668 Z m 1.6857044,0 L 3.439079,5.1387209 H 2.9496808 L 4.1418045,1.2399668 Z m 0.4350205,0 V 5.1387209 H 4.6312025 V 1.2399668 Z' style='fill:%238cb4ff;'/%3E%3C/g%3E%3C/svg%3E%0A");
}
a.ext.osi::before {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.924,15.927c1.721,-0.637 2.618,-1.866 2.618,-3.978c0,-2.112 -1.779,-3.978 -4.007,-3.978c-2.343,-0 -4.122,1.866 -4.093,3.978c0.029,2.126 1.041,3.529 2.661,4.05l-2.864,7.059c-3.833,-0.998 -7.739,-5.526 -7.739,-11.095c0,-6.611 5.309,-11.963 11.963,-11.963c6.654,0 12.05,5.352 12.05,11.963c-0,5.671 -3.862,10.126 -7.797,11.124l-2.792,-7.16Z' style='fill:%23C8DBD5;'/%3E%3C/svg%3E");
}
a.ext.github::before {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0C7.16 0 0 7.16 0 16C0 23.08 4.58 29.06 10.94 31.18C11.74 31.32 12.04 30.84 12.04 30.42C12.04 30.04 12.02 28.78 12.02 27.44C8 28.18 6.96 26.46 6.64 25.56C6.46 25.1 5.68 23.68 5 23.3C4.44 23 3.64 22.26 4.98 22.24C6.24 22.22 7.14 23.4 7.44 23.88C8.88 26.3 11.18 25.62 12.1 25.2C12.24 24.16 12.66 23.46 13.12 23.06C9.56 22.66 5.84 21.28 5.84 15.16C5.84 13.42 6.46 11.98 7.48 10.86C7.32 10.46 6.76 8.82 7.64 6.62C7.64 6.62 8.98 6.2 12.04 8.26C13.32 7.9 14.68 7.72 16.04 7.72C17.4 7.72 18.76 7.9 20.04 8.26C23.1 6.18 24.44 6.62 24.44 6.62C25.32 8.82 24.76 10.46 24.6 10.86C25.62 11.98 26.24 13.4 26.24 15.16C26.24 21.3 22.5 22.66 18.94 23.06C19.52 23.56 20.02 24.52 20.02 26.02C20.02 28.16 20 29.88 20 30.42C20 30.84 20.3 31.34 21.1 31.18C27.42 29.06 32 23.06 32 16C32 7.16 24.84 0 16 0V0Z' fill='%23C8DBD5'/%3E%3C/svg%3E");
}

/* code block */
code {
	display: inline;
	font-family: monospace;
	background-color: #FFF;
	padding: 0 .25em;
	border-radius: .125em;
}
code.block {
	display: block;
	white-space: pre-wrap;
	overflow-wrap: anywhere;
	word-wrap: break-word;
	word-break: break-all;
	hyphens: auto;
	-webkit-hyphenate-character: '\u2936';
	hyphenate-character: '\u2936';
	padding: .25em 1em .25em 1em;
	border-left: #00695C solid 3pt;
	border-right: #CCC solid 1px;
	border-radius: .5em;
	margin-left: .5rem;
	max-width: max-content;
}

/* page header */
#header-layout {
	width: 100%;
}

/* pre-header navigation */
#pre-header {
	position: fixed;
	width: calc(100% - .5em);
	padding: 2pt 0 0 .5em;
}
#pre-header > div {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: max-content auto;
}
#pre-header ul {
	display: flex;
	list-style: none;
	margin: 0; padding: 0;
}
#pre-header .label {
	margin: 0;
	padding: .25em;
}
#pre-header ul li {
	margin: 0; padding: 0;
	border-bottom: transparent solid 2pt;
}
#pre-header ul li a:link,
#pre-header ul li a:visited {
	display: inline-block;
	margin: 0; padding: .25em .5em;
	text-decoration: none;
}
#pre-header ul li a:hover {
	text-decoration: underline;
}

/* the header headline */
#header-layout > header {
	width: calc(100% - 1rem);
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 2em;
}
#header-layout > header h1 {
	padding: 1em 0 1em .25em;
	margin: 0;
}
#header-layout > header h1 a:link,
#header-layout > header h1 a:visited {
	text-decoration: none;
}

/* MAIN */
#main-layout {
	width: 100%;
}
#main-sb-layout {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: min-content auto;
	gap: 1em;
}
#main-layout > main {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

/* SIDEBAR */
#sidebar-nav {
	display: block;
	height: min-content;
	position: sticky;
	top: 2rem;
	padding: .25rem;
}
#sidebar-nav h2 {
	font-size: 1.25rem;
	padding: 0;
	margin: .5rem .25rem;
}
#sidebar-nav summary {
	font-weight: bold;
	font-family: Bahnschrift, DIN Alternate, Arial Bold, sans-serif;
	font-size: 1.1rem;
	cursor: pointer;
	padding: .25em 0 .25em .25em;
	min-width: 9rem;
}
#sidebar-nav ul {
	list-style: none inside;
	padding: 0;
	margin: 0;
}
#sidebar-nav ul a:link,
#sidebar-nav ul a:visited {
	display: block;
	text-decoration: none;
	padding: .25em 1em;
}

#sidebar-nav p.error {
	border: #666 solid 1px;
	padding: .5em;
	font-size: small;
	background-color: #F8F9DD;
	border-color: #DEE0C7;
	color: #970C64;
}
#sidebar-nav p.error:before {
	content: '';
	display: inline-block;
	width: 1em; height: 1em;
	background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M4,1C2.89,1 2,1.89 2,3V7C2,8.11 2.89,9 4,9H1V11H13V9H10C11.11,9 12,8.11 12,7V3C12,1.89 11.11,1 10,1H4M4,3H10V7H4V3M14,13C12.89,13 12,13.89 12,15V19C12,20.11 12.89,21 14,21H11V23H23V21H20C21.11,21 22,20.11 22,19V15C22,13.89 21.11,13 20,13H14M3.88,13.46L2.46,14.88L4.59,17L2.46,19.12L3.88,20.54L6,18.41L8.12,20.54L9.54,19.12L7.41,17L9.54,14.88L8.12,13.46L6,15.59L3.88,13.46M14,15H20V19H14V15Z' style='fill:%23970C64' /%3E%3C/svg%3E") center no-repeat;
}

/* FOOTER */
#footer-layout {
	width: 100%;
}
#footer-layout > footer {
	width: calc(100% - 1rem);
	max-width: 1200px;
	margin: auto;
	padding: .5rem;
}
#footer-layout > footer p {
	padding: 0; margin: 0 0 .5em 0;
	font-size: small;
	text-align: center;
}

#footer-layout a:link,
#footer-layout a:visited {
	text-decoration: none;
}
#footer-layout a:hover {
	text-decoration: underline;
}